<h3 class="interviewedTips">Checked-in Students</h3>
<table mat-table [dataSource]="dataSource" >
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef (click)="dataSourceSort('name')"> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.student.name}} </td>
  </ng-container>


  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef > Time </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef > Status </th>
    <td mat-cell *matCellDef="let element"> <strong style="color: #FF0000;">Checked-in</strong> </td>
  </ng-container>

  <ng-container matColumnDef="checked">
    <th mat-header-cell *matHeaderCellDef> Interviewed </th>
    <td mat-cell *matCellDef="let element;let i = index">
      <mat-checkbox (click)="checkboxLabel(element,i)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button color="warn" *ngIf="isAdmin()">
          <mat-icon class="mat-18">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<!-- Interviewed -->
<h3 class="interviewedTips">Interviewed Students</h3>
<table class="interviewed" mat-table [dataSource]="selectDataSource" >
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef  (click)="sortData('name')" > Name </th>
    <td mat-cell *matCellDef="let element"> {{element.student.name}} </td>
  </ng-container>

  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef > Time </th>
    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> Status </th>
    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
  </ng-container>

  <ng-container matColumnDef="checked">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let element">
      <!-- <mat-checkbox>
      </mat-checkbox> -->
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
