
  <mat-card >
    <mat-card-header>

      <mat-card-title>Login</mat-card-title>

    </mat-card-header>

    <!-- <mat-card-content>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>HokieID</mat-label>
          <input matInput type="text" [(ngModel)]='password' placeholder="" >


        </mat-form-field>
      </p>
    </mat-card-content> -->

    
    <mat-card-actions>
      <button class="open-button" mat-button [disabled]="loading" (click)="openDialog()">Login</button>
    </mat-card-actions>
  </mat-card>

  <label for="name">Please enter your Hokie ID:</label>

  <input type="text" id="name" name="name" required
       minlength="4" maxlength="8" size="10">

  <!-- <button class="open-button" mat-raised-buton (click)="openDialog()">Check In Now!</button> -->

  <h2 mat-dialog-title>Choose your company and career fair</h2>

  <mat-dialog-content>
    <h4>Select your company</h4>
  <mat-form-field>
    <mat-label>Company</mat-label>
    <select matNativeControl required>
      <option value="ms">Microsoft</option>
      <option value="goog">Google</option>
      <option value="appl">Apple</option>
      <option value="ama">Amazon</option>
    </select>
  </mat-form-field>
  
  <h4>Select your time</h4>
  <mat-form-field>
    <mat-label>Career Fairs</mat-label>
    <select matNativeControl required>
      <option value="spring 2020">spring 2020</option>
      <option value="fall 2020">fall 2020</option>
      <option value="spring 2021">spring 2021</option>
      <option value="fall 2021">fall 2021</option>
    </select>
  </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button>Cancel</button>
    <button mat-raised-button >Save</button>
  </mat-dialog-actions>


  
  
  