/* Button */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    top: 500px;
    right: 800px;
    width: 280px;
  }

  .example-card{
    margin: 0 auto;
    width: 19%;
    top: 200px;
    padding: 16px 20px;
}



  