
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    </style>
    </head>
    <body>


    <button class="open-button" onclick="openForm()">Check In Now!</button>
    
    <div class="form-popup" id="myForm">
      <form action="/action_page.php" class="form-container">
        <h2>Please input your hokie ID and select the company and time</h2>

        <label for="hokieID"><b>Hokie ID</b></label>
        <input type="text" placeholder="Enter Hokie ID" name="hokieID" required>
    
        <label for="company"><b>Company</b></label>
        <input type="text" placeholder="Enter company name" name="company" required>
    
        <label for="time"><b>Time</b></label>
        <input type="text" placeholder="Enter time" name="time" required>
    
        <button type="submit" class="btn">Submit</button>
        <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
      </form>
    </div>
    
    <script>
    function openForm() {
      document.getElementById("myForm").style.display = "block";
    }
    
    function closeForm() {
      document.getElementById("myForm").style.display = "none";
    }
    </script>
    
    </body>
  