<app-loader></app-loader>
<div *ngIf="router.url != '/checkin' && router.url != '/login'">
  <header>
    <img class="img" src="../assets/vtcs.jpg" alt="pic"
    style="display: inline;"/>
    <h2 style="display: inline;"><font color="gray">Department of Computer Science---Interview Scheduler</font> </h2>

  </header>

  <mat-toolbar class="tool">

    <mat-toolbar-row>
      <div *ngIf="isAdmin()">
        <button mat-button class="btn btn-primary" style="background-color: transparent;" routerLink="/">Career Fairs</button>
        <button mat-button class="btn btn-primary" style="background-color: transparent;" routerLink="/manage-companies">Manage Companies</button>
      </div>  
      <span class="spacer"></span>
      <button mat-button class="btn btn-primary" style="background-color: transparent;" (click)="logout()">Logout</button>
      
    </mat-toolbar-row>


  </mat-toolbar>
</div>

<router-outlet></router-outlet>

