<div class="container">
  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" placeholder="&#61442;  Search here">
  </div>
</div>

<div class="label">
  <section>
    <h1>Fall 2020</h1>
  </section>
</div>

<div class="company-container">
  <app-manage-company-card (deactivateEvent)="activate($event)"
    *ngFor="let manageCompanyCard of inactive_company_list | filter:searchText" [company]="manageCompanyCard">
  </app-manage-company-card>
</div>

<hr calss="line">


<div class="company-container">
  <app-manage-company-card (activateEvent)="deactivate($event)"
    *ngFor="let manageCompanyCard of active_company_list | filter:searchText" [company]="manageCompanyCard">
  </app-manage-company-card>
</div>
