<div class="search-container">
  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
      placeholder="&#61442;  Search company here">
  </div>
</div>


<div class="container-fluid title">
  {{this.careerfair.term}} {{this.careerfair.year}}:
</div>

<div class="container-fluid border-between">
  <div class="row">
    <div class="col" style="padding-right:20px; border-right: 1px solid #000;">
      <h6 class="company-header">Attending Companies: {{active_company_list.length}}</h6>
    </div>
    <div class="col">
      <h6 class="company-header">Non-Attending Companies: {{inactive_company_list.length}}</h6>
    </div>
  </div>
  <div class="row">
      <div class="col" style="padding-right:20px; border-right: 1px solid #000;">
        <mat-card class="company-container">
          <app-manage-company-card [enable]=true (deactivateEvent)="deactivate($event) "
          *ngFor="let manageCompanyCard of active_company_list | filter:searchText" [company]="manageCompanyCard">
          </app-manage-company-card>
        </mat-card>
      </div>
      <div class="col">
          <mat-card class="company-container">
            <app-manage-company-card (activateEvent)="activate($event)"
            *ngFor="let manageCompanyCard of inactive_company_list | filter:searchText" [company]="manageCompanyCard">
            </app-manage-company-card>
          </mat-card>
      </div>
  </div>
</div>



<!-- <div class="company-list-container">

  <div class="top-company-list-container">
    <div class="company-container">
      <app-manage-company-card [enable]=true (deactivateEvent)="deactivate($event) "
        *ngFor="let manageCompanyCard of active_company_list | filter:searchText" [company]="manageCompanyCard">
      </app-manage-company-card>
    </div>
  </div>

  <div style="height: 50%; width: 100%;">
    <div>
      <hr class="line">
    </div>

    <div class="bottom-company-list-container">
      <div class="company-container" style="padding-top: 30px;">
        <app-manage-company-card (activateEvent)="activate($event)"
          *ngFor="let manageCompanyCard of inactive_company_list | filter:searchText" [company]="manageCompanyCard">
        </app-manage-company-card>
      </div>
    </div>
  </div>

</div> -->
