<div class="container">
  <h1 class="label" ng-class>{{label}}</h1>

  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText"
      placeholder="&#61442;  Search company">
  </div>
</div>

<div class="company-list-container">

  <div class="top-company-list-container">
    <div class="company-container">
      <app-manage-company-card [enable]=true (deactivateEvent)="deactivate($event) "
        *ngFor="let manageCompanyCard of active_company_list | filter:searchText" [company]="manageCompanyCard">
      </app-manage-company-card>
    </div>
  </div>

  <div style="height: 50%; width: 100%;">
    <div>
      <hr class="line">
    </div>

    <div class="bottom-company-list-container">
      <div class="company-container" style="padding-top: 30px;">
        <app-manage-company-card (activateEvent)="activate($event)"
          *ngFor="let manageCompanyCard of inactive_company_list | filter:searchText" [company]="manageCompanyCard">
        </app-manage-company-card>
      </div>
    </div>
  </div>

</div>
