<form action="#" method="post">
  <div class="select">
    <select name="nameValueSelect" class="select__field" required>
      <option value="" selected>Select a Career Fair ...</option>
      <option>Spring 2020</option>
      <option>Fall 2019</option>
      <option>Spring 2019</option>
      <option>Fall 2018</option>
      <option>Spring 2018</option>
      <option>Fall 2017</option>
    </select>
  </div>

  <button type="submit" class="btn-submit">Submit</button>
</form>

<h1>OR</h1>
<h2><a href="">Create New</a></h2>
