<div class="back">
  <mat-card class="login-card" layout="row" layout-align="center">
    <div style="text-align: center;">
      <mat-card-header>
        <div layout="row" style="justify-content: center;">
          <img src="../../assets/vtcs.jpg" alt="pic" style="width:95%;height: 80%;" />
        </div>
      </mat-card-header>

      <mat-card-content>
        <p>
          <mat-form-field appearance="legacy">
            <mat-label>Username</mat-label>
            <input autofocus="autofocus" type="text" matInput [(ngModel)]='username' required>

          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput type="password" [(ngModel)]='password' placeholder="" required>
          </mat-form-field>
        </p>

      </mat-card-content>
      <div class="error" *ngIf="this.showError">
        Please enter valid username or password
      </div>

      <mat-card-actions>
        <button mat-button class="btn btn-success bg-success text-white" (click)="login()">Login</button>
      </mat-card-actions>

    </div>
  </mat-card>
</div>
