<mat-dialog-content class="dialog" >
    <section>
      <h4>Welcome Firstname!</h4>
      <br>
    </section>
  
    <section>
      <mat-form-field class="field">
        <mat-label>Company</mat-label>
        <input matInput placeholder="Company Name">
      </mat-form-field>
  
      <mat-form-field class="field">
         <mat-label>Interview time</mat-label>
         <input matInput type="time" placeholder="Company Name">
      </mat-form-field>
    </section>
</mat-dialog-content>

<mat-dialog-actions>
    <br>
    <button mat-raised-button (click)="save()" >Save</button>
    <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
