<mat-card class="company-card row">

  <mat-card-header class="text-oneline">
    <img mat-card-avatar class="company-logo" src="{{'https://logo.clearbit.com/' + company.domain}}">
    <mat-card-title>{{company.name}}</mat-card-title>

    <span class="spacer"></span>

    <div class="menu">
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Delete or edit">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="delete()">
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>

  </mat-card-header>
  <div class="code-block row">

    <pre
      class="col-9">Username: {{this.company.companyUser.username}}<br>Password: {{this.company.companyUser.password}}</pre>
    <button mat-menu-item class="copy-button" matTooltip="Copy" (click)="copyToClip()">
      <mat-icon style="font-size: medium; width: fit-content;">assignment</mat-icon>
    </button>

  </div>
  <div class="position">
    <button mat-menu-item class="email-button" matTooltip="Send email">

      <a href='{{mailTo}}'>
        <mat-icon style="font-size: medium; width: fit-content;">email
        </mat-icon>
      </a>

    </button>

  </div>

</mat-card>
