<mat-card class="company-card row" matTooltip="list interviewees">

  <mat-card-header>
    <img mat-card-avatar class="company-logo" src="{{'https://logo.clearbit.com/' + company.domain}}"
      (click)="list_interviewees()">
    <mat-card-title (click)="list_interviewees()">{{company.name}}</mat-card-title>

    <span class="spacer"></span>

    <div class="menu" [formGroup]="form" (change)="onChange($event.checked)">
      <mat-slide-toggle formControlName="enable"></mat-slide-toggle>
    </div>

  </mat-card-header>


</mat-card>
